/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/**
 * bxshef: Custom
 * -------------------------------------------------------------------------- */
:root
{
    --sh-data-font-sise: 12px;
    --sh-data-th-color: #334155;
    --sh-data-th-border: #e5e7eb;
    --sh-data-td-border: #f1f5f9;
    --sh-data-variable-block-color: #0ea5e9;
    --sh-data-code-block-color: #4f46e5;
}

.dark
{
    --sh-data-th-color: #cbd5e1;
    --sh-data-th-border: #94a3b833;
    --sh-data-td-border: #94a3b81a;
    --vp-c-bg: #0f172a;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;
    
    --sh-data-variable-block-color: #38bdf8;
    --sh-data-code-block-color: #a5b4fc;
}

.vp-doc .info-wrapper
{
    overflow-x: auto;
    width: 100%;
    min-width: 100%;
}

.vp-doc table.info
{
    text-align: left;
    display: table;
    border-collapse: collapse;
    margin: 20px 0;
    overflow-x: auto;
    
    border-spacing: 0;
    border: none;
    max-width: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.vp-doc table.info tr
{
    border: none;
}

.vp-doc table.info th,
.vp-doc table.info td
{
    padding: 8px 16px 8px 0;
    vertical-align: top;
    border: none;
    border-bottom: 1px solid var(--sh-data-td-border);
}

.vp-doc table.info th
{
    color: var(--sh-data-th-color);
    background-color: transparent;
    position: sticky;
    border-bottom-color: var(--sh-data-th-border);
}

.vp-doc table.info th + th,
.vp-doc table.info td + td
{
    padding: 8px 16px;
}

.vp-doc table.info th:last-child,
.vp-doc table.info td:last-child
{
    padding: 8px 0 8px 16px;
}

.vp-doc table.info td div[class*='language-']
{
    margin-top: 0!important;
    margin-bottom: 0!important;
    background-color: initial;
    color: initial;
}

.vp-doc table.info td div[class*='language-'] pre
{
    padding: 0!important;
}

.vp-doc table.info td div[class*='language-'] code
{
    padding: 0!important;
    font-size: var(--sh-data-font-sise);
}

.vp-doc table.info td.variable
{
    color: var(--sh-data-variable-block-color);
    font-size: var(--sh-data-font-sise);
    text-wrap: nowrap;
}

.vp-doc table.info td.value
{
    --vp-code-block-color: var(--sh-data-code-block-color);
    color: var(--sh-data-code-block-color);
    font-size: var(--sh-data-font-sise);
}

.vp-doc tr:nth-child(2n)
{
    background-color: var(--vp-c-bg);
}

code
{
    font-weight: 400;
    ---text-wrap: nowrap;
}

iframe
{
    width: 100%;
    min-height: 200px;
    border: none;
    
    scrollbar-width: thin;
}

/**
 * bxshef: header-info
 * -------------------------------------------------------------------------- */
.header-info
{
    flex: 1 1 0%;
}

.header-info-descr
{
    display: flex;

    gap: .375rem;
    margin-top: 1.125rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    flex-direction: column;
    align-items: flex-start;
}

.header-info-nav
{
    gap: .375rem;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
}

@media (min-width: 1024px) {
    .header-info-descr
    {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .header-info-nav
    {
        margin-top: 0;
    }
}